body {
    margin: 0;
    background-color: #FFE766;
    overflow : hidden;
    font-family: "Mediametrie", sans-serif;
}

/* FOND IMMOBILE */

#corner1 {
    height: 70vh;
    width: auto;
    position: fixed;
    left: -50vw;
    top: -15vh;
}

#corner2 {
    height: 70vh;
    width: auto;
    position: fixed;
    right: -45vw;
    bottom: -20vh;
    transform: rotate(190deg);
}

#coquillage {
    position: fixed;
    top: 40vh;
    left: 3vw;
    width: 5vh;
    height: auto;
}

#parasol {
    position: fixed;
    top: 40vh;
    right: -20vw;
    width: 25vh;
    height: auto;
}

#serviette {
    position: fixed;
    top: 55vh;
    left: -10vw;
    width: 25vh;
    height: auto;
}

#pas1 {
    position: fixed;
    top: 10vh;
    right: 5vw;
    width: 15vh;
    height: auto;
}

#pas2 {
    position: fixed;
    top: 50vh;
    left: 30vw;
    width: 15vh;
    height: auto;
}

/* PRESENTAION */

#titre1, #titre2 {
    width: 40vh;
    position: absolute;
}

#titre1 {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    animation: "slide-in-left" 1s ;
}

#titre2 {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    animation: "slide-in-right" 1s ;
}

/* 1ERE CONNEXION */
#premiere_connexion {
    visibility: hidden;
}

#encart_premiere_connexion {
    background-color: white;
    text-align: center;
    font-family: "Mediametrie", sans-serif;
}

#bouton_premiere_connexion {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    background-color: #e65f28;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    border: none;
    width: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
    display: inline-block;
}

#lot_cadeaux {
    width: 60vw;
    height: auto;
}

#texte_premiere_connexion_1 {
    padding: 2vh;
    font-size: 2vh;
}

#texte_premiere_connexion_2 {
    padding: 2vh;
    font-size: 2vh;

}

/* ACCUEIl */
#accueil {
    visibility: hidden;
}

#logo {
    height: 7vh;
    width: auto;
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%, -2%);
}

#picto_cadeau {
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 7vh;
    height: auto;
}

#picto_info {
    position: absolute;
    top: 2vh;
    right: 3vw;
    width: 7vh;
    height: auto;
}

#avatar {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    width: 25vh;
    height: auto;
}

#pseudo {
    position: absolute;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    font-size: 3vh;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
}

#points {
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: "Mediametrie", sans-serif;
    font-size: 4vh;
}

#picto_point {
    width: 4vh;
    height: auto;
}

#bouton_jouer {
    font-weight: bold;
    font-family: "Mediametrie", sans-serif;
    font-size: 3vh;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}

#bouton_classement {
    font-weight: bold;
    font-family: "Mediametrie", sans-serif;
    font-size: 3vh;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
}

.boutons_accueil {
    background-color: white;
    border: none;
    width: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* INFORMATIONS */
#informations {
    visibility: hidden;
    text-align: center;
    font-family: "Mediametrie", sans-serif;
}

#picto_retour_informations {
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 7vh;
    height: auto;
}

#texte_informations_1, #texte_informations_2, #texte_informations_3, #texte_informations_4 {
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;

}

#texte_informations_5 {
    color: #FFEF99;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.5vh;
}

.encart {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    width: 80vw;
    height: 80vh;
}

#encart_informations {
    background-color: #14A8C6;
}

/* CADEAUX */
#cadeaux {
    visibility: hidden;
}

#picto_retour_cadeaux {
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 7vh;
    height: auto;
    z-index: 1;
}

#encart_cadeaux {
    position: absolute;
    background-color: #14A8C6;
    width: 100vw;
    height: 100vh;
}

/* CLASSEMENT */
#classement {
    visibility: hidden;
    font-family: "Mediametrie", sans-serif;
}

#titre_classement {
    color: #14A8C6;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

#podium {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    height: 25vh;
}

#picto_retour_classement {
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 7vh;
    height: auto;
}

#encart_classement {
    background-color: white;
}

/* REGLES JEU */
#regles_jeu {
    visibility: hidden;
}

#encart_regles_jeu_1 {
    background-color: white;
}

#encart_regles_jeu_2 {
    background-color: white;
    visibility: hidden;
}

#encart_regles_jeu_3 {
    background-color: white;
    visibility: hidden;
}

.fleche_suivante {
     position: absolute;
     right: 5%;
     top: 50%;
     transform: translate(-5%, -50%);
     height: 4vh;
    width: auto;
 }

.fleche_precedente {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    height: 4vh;
    width: auto;
}

#bouton_regles_jeu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: none;
    border-radius: 0;
    background-color: #E65F28;
    padding: 1vh 4vh;
}

.dot_regle {
    display: inline-block;
    position: relative;
    width: 1.5vh;
    height: 1.5vh;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 50%;
    background-color: gray;
}

.active {
    background-color: #E65F28;
}

.position_règles {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}

.texte-regles {
    text-align: center;
    font-size: 2.5vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

.textes-regles-bonus {
    font-weight: bold;
    color: #E65F28;
}

.pouce_regles {
    width: 12vh;
    height: auto;
    display: block;
    margin: 0px auto;
}

.plus_3_points {
    color: #E6007D;
    font-weight: bold;
    font-size: 10vh;
    display: block;
    margin: 0px auto;
}

/* COMPTE REBOURS */
.compte_rebours {
    position: absolute;
    font-size: 25vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#compte_rebours_3 {
    visibility: hidden;
    color: #E65F28;
}

#compte_rebours_2 {
    visibility: hidden;
    color: #E6007D;
}

#compte_rebours_1 {
    visibility: hidden;
    color: #14A8C6;
}

#compte_rebours_go {
    visibility: hidden;
    color: #fff;
}

/* JEU */
#jeu {
    visibility: hidden;
}

.progress {
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    position: absolute;
    width:70%;
    height:3vh;
    overflow:hidden;
    background:white;
}

.bar {
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:#E65F28;
}

#progress_bar {

}

.encart_question {
    width: 80vw;
    height: 45vh;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.theme_question {
    position: absolute;
    font-size: 2.5vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
}

.texte_question {
    position: relative;
    font-size: 2.8vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    text-align: center;
    padding: 1.5vh;
}

.swiper-pagination {
    position: absolute;
    top: 105%;
}

.swiper-pagination-bullet-active {
    background-color: #E65F28;
}

.swiper-pagination-bullet {
    width: 1.25vh;
    height: 1.25vh;
}

#choix_reponse {
    width:40vw;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: #FFFFFF;
}

.swiper {
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.swiper-slide {
    background-color: white;
}

#debut, #fin {
    opacity: 1;
}

#reponse_fausse {
    visibility: hidden;
    position: fixed;
    font-size: 15vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FF2144;
    z-index: 99999;
}

#reponse_bonne {
    visibility: hidden;
    position: fixed;
    font-size: 15vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #629d00;
    z-index: 99999;
}

#fin_jeu {
    visibility: hidden;
    position: fixed;
    font-size: 15vh;
    font-family: "Mediametrie", sans-serif;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #E65F28;
    z-index: 99999;
}

.pouce_gauche {
    float:left;
    height: 9vh;

}

.pouce_droit {
    float:right;
    height: 9vh;
}

#liste_cadeaux {
    font-size: 2vh;
    list-style-type: none;
}

.photo_cadeau {
    height: auto;
    width: 15vh;
}

#top10 {
    position: absolute;
    list-style-type: none;
    bottom: 10%;
    font-size: 2vh;
}
#top_joueur {
    position: absolute;
    list-style-type: none;
    bottom: 1%;
    font-size: 2vh;
}

#attribut_classement {
    font-weight: bold;
}

#top10 td {
    padding: 0vh 8vw;
}

.bottom_line {
    border-bottom: solid 1px #efefef;
}

#top_joueur {
    font-weight: bold;
    background-color: #D7F5FB;
}

#top_joueur td {
    padding: 0 7vw;
}

#ton_rang {
    font-size: 2vh;
    font-weight: bold;
    color: #14A8C6;
    position: absolute;
    bottom: 9%;
    margin-left: 7vw;
}

#positionnement {
position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

}

.dot {
    height: 1.5vh;
    width: 1.5vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
}

.active {
    background-color: #E65F28;
}




